.i-phone-17-7,
.i-phone-17-7 * {
  box-sizing: border-box;
}
.i-phone-17-7 {
  background: #d6ccc2;
  height: 2951px;
  position: relative;
  overflow: hidden;
}
.rectangle-337 {
  background: #d9d9d9;
  width: 402px;
  height: 1933px;
  position: absolute;
  left: 0px;
  top: 276px;
}
.rectangle-312 {
  background: #ddd6ce;
  width: 402px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.sameer-designs {
  color: #000000;
  text-align: left;
  font-family: "Bitter-ExtraBoldItalic", sans-serif;
  font-size: 13px;
  font-weight: 800;
  font-style: italic;
  position: absolute;
  left: 62px;
  top: 10px;
}
.menu {
  width: 30px;
  height: 32px;
  position: absolute;
  left: 283px;
  top: 12px;
  overflow: visible;
  aspect-ratio: 30/32;
}
.rectangle-318 {
  background: #d9d9d9;
  width: 402px;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 2659px;
}
.my-process {
  color: #000000;
  text-align: left;
  font-family: "AlbertSans-SemiBold", sans-serif;
  font-size: 11px;
  line-height: 28px;
  letter-spacing: 4px;
  font-weight: 600;
  position: absolute;
  left: 62px;
  top: 2680px;
}
.image-57 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 63px;
  top: 2708px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image-58 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 148px;
  top: 2708px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image-59 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 233px;
  top: 2708px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image-60 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 318px;
  top: 2708px;
  object-fit: cover;
  aspect-ratio: 1;
}
.hello-i-m-sameer-chauhan-a-ui-ux-designer-with-an-engineering-foundation-i-turn-complex-logic-into-intuitive-high-converting-digital-products {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-SemiBold", sans-serif;
  font-size: 15px;
  line-height: 152%;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: 62px;
  top: 75px;
  width: 307px;
}
.projects {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 16px;
  line-height: 37px;
  letter-spacing: 2px;
  font-weight: 700;
  position: absolute;
  left: 62px;
  top: 280px;
}
.rectangle-324 {
  background: rgba(217, 217, 217, 0);
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 134px;
  height: 35px;
  position: absolute;
  left: 135px;
  top: 215px;
}
.rectangle-320 {
  background: #000000;
  border-radius: 74px;
  width: 134px;
  height: 35px;
  position: absolute;
  left: 132px;
  top: 212px;
}
.view-my-work {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11px;
  line-height: 152%;
  letter-spacing: 0.05em;
  font-weight: 500;
  position: absolute;
  left: 135px;
  top: 219px;
  width: 134px;
  height: 35px;
}
.frame-37 {
  width: 402px;
  height: 354px;
  position: absolute;
  left: 0px;
  top: 2258px;
}
.frame-32 {
  width: 402px;
  height: 354px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-332 {
  background: #d6ccc2;
  width: 402px;
  height: 354px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.i-am-a-ui-ux-designer-and-b-tech-student-at-ncer-bridging-the-gap-between-clean-engineering-and-intuitive-digital-experiences-i-design-visually-sharp-high-converting-websites-that-solve-real-problems-and-feel-effortless-to-use-driven-by-curiosity-and-user-centered-design-i-transform-complex-ideas-into-functional-aesthetically-compelling-interfaces {
  color: #1e1e1e;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  line-height: 155%;
  font-weight: 500;
  position: absolute;
  left: 62px;
  top: 2309px;
  width: 278px;
  height: 149px;
}
.about-skills-snapshot {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-ExtraBold", sans-serif;
  font-size: 15px;
  line-height: 37px;
  letter-spacing: 4px;
  font-weight: 800;
  position: absolute;
  left: 60px;
  top: 2272px;
}
.rectangle-3122 {
  background: #ffffff;
  border-radius: 38px;
  width: 277px;
  height: 400px;
  position: absolute;
  left: 61px;
  top: 329px;
  box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.25);
}
.a-high-contrast-modern-landing-page-designed-for-an-architectural-glazing-and-premium-window-manufacturing-brand {
  color: #1e1e1e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  line-height: 149%;
  font-weight: 400;
  position: absolute;
  left: 89px;
  top: 528px;
  width: 236px;
  height: 48px;
}
.master-crafted-windows {
  color: #1b1a1a;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 15px;
  font-weight: 600;
  position: absolute;
  left: 89px;
  top: 508px;
  width: 243px;
  height: 16px;
}
.rectangle-338 {
  background: #000000;
  border-radius: 41px;
  width: 55px;
  height: 25px;
  position: absolute;
  left: 90px;
  top: 643px;
}
.rectangle-340 {
  background: #000000;
  border-radius: 41px;
  width: 55px;
  height: 25px;
  position: absolute;
  left: 231px;
  top: 644px;
}
.design {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 239px;
  top: 649px;
}
.rectangle-339 {
  background: #000000;
  border-radius: 41px;
  width: 66px;
  height: 25px;
  position: absolute;
  left: 155px;
  top: 644px;
}
.website {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 165px;
  top: 649px;
}
.ui-ux {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 101px;
  top: 648px;
  width: 33px;
}
.rectangle-327 {
  background: #f3e7bf;
  border-radius: 38px 38px 37px 38px;
  width: 277px;
  height: 153px;
  position: absolute;
  left: 61px;
  top: 328px;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-8 {
  position: absolute;
  inset: 0;
}
.rectangle-304 {
  border-radius: 5px;
  width: 278px;
  height: 154.4px;
  position: absolute;
  left: 62px;
  top: 327px;
}
.rectangle-326 {
  width: 125.31px;
  height: 124px;
  position: absolute;
  left: 178.93px;
  top: 328.55px;
  object-fit: cover;
}
.rectangle-325 {
  width: 125.31px;
  height: 126px;
  position: absolute;
  left: 93.23px;
  top: 354.55px;
  object-fit: cover;
}
.rectangle-3123 {
  background: #ffffff;
  border-radius: 38px;
  width: 277px;
  height: 400px;
  position: absolute;
  left: 62px;
  top: 781px;
  box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-341 {
  background: #ffffff;
  border-radius: 38px;
  width: 277px;
  height: 400px;
  position: absolute;
  left: 61px;
  top: 1236px;
  box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-348 {
  background: #ffffff;
  border-radius: 38px;
  width: 277px;
  height: 400px;
  position: absolute;
  left: 59px;
  top: 1691px;
  box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-3382 {
  background: #000000;
  border-radius: 41px;
  width: 55px;
  height: 25px;
  position: absolute;
  left: 88px;
  top: 1095px;
}
.rectangle-342 {
  background: #000000;
  border-radius: 41px;
  width: 55px;
  height: 25px;
  position: absolute;
  left: 87px;
  top: 1550px;
}
.rectangle-349 {
  background: #000000;
  border-radius: 41px;
  width: 55px;
  height: 25px;
  position: absolute;
  left: 85px;
  top: 2005px;
}
.rectangle-3402 {
  background: #000000;
  border-radius: 41px;
  width: 55px;
  height: 25px;
  position: absolute;
  left: 221px;
  top: 1096px;
}
.rectangle-343 {
  background: #000000;
  border-radius: 41px;
  width: 55px;
  height: 25px;
  position: absolute;
  left: 220px;
  top: 1551px;
}
.rectangle-350 {
  background: #000000;
  border-radius: 41px;
  width: 55px;
  height: 25px;
  position: absolute;
  left: 218px;
  top: 2006px;
}
.design2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 229px;
  top: 1101px;
}
.design3 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 228px;
  top: 1556px;
}
.design4 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 226px;
  top: 2011px;
}
.rectangle-3392 {
  background: #000000;
  border-radius: 41px;
  width: 58px;
  height: 25px;
  position: absolute;
  left: 153px;
  top: 1096px;
}
.rectangle-344 {
  background: #000000;
  border-radius: 41px;
  width: 58px;
  height: 25px;
  position: absolute;
  left: 152px;
  top: 1551px;
}
.rectangle-351 {
  background: #000000;
  border-radius: 41px;
  width: 58px;
  height: 25px;
  position: absolute;
  left: 150px;
  top: 2006px;
}
.mobile {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 162px;
  top: 1101px;
}
.website2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 158px;
  top: 1556px;
}
.website3 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 156px;
  top: 2011px;
}
.ui-ux2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 99px;
  top: 1100px;
  width: 33px;
}
.ui-ux3 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 98px;
  top: 1555px;
  width: 33px;
}
.ui-ux4 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 96px;
  top: 2010px;
  width: 33px;
}
.rectangle-3272 {
  background: #5d5d5d;
  border-radius: 38px 38px 37px 38px;
  width: 277px;
  height: 153px;
  position: absolute;
  left: 62px;
  top: 780px;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-345 {
  background: #204333;
  border-radius: 38px 38px 37px 38px;
  width: 277px;
  height: 153px;
  position: absolute;
  left: 61px;
  top: 1235px;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-352 {
  background: #ecc387;
  border-radius: 38px 38px 37px 38px;
  width: 277px;
  height: 153px;
  position: absolute;
  left: 59px;
  top: 1690px;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-3042 {
  border-radius: 5px;
  width: 278px;
  height: 154.4px;
  position: absolute;
  left: 63px;
  top: 779px;
}
.group-9 {
  position: absolute;
  inset: 0;
}
.rectangle-3043 {
  border-radius: 5px;
  width: 278px;
  height: 154.4px;
  position: absolute;
  left: 62px;
  top: 1234px;
}
.group-10 {
  position: absolute;
  inset: 0;
}
.rectangle-3044 {
  border-radius: 5px;
  width: 278px;
  height: 154.4px;
  position: absolute;
  left: 60px;
  top: 1689px;
}
.rectangle-334 {
  width: 112px;
  height: 116px;
  position: absolute;
  left: 178px;
  top: 780px;
  object-fit: cover;
}
.rectangle-346 {
  width: 112px;
  height: 116px;
  position: absolute;
  left: 177px;
  top: 1231px;
  object-fit: cover;
}
.subtract {
  width: 112px;
  height: 116px;
  position: absolute;
  left: 175px;
  top: 1686px;
  overflow: visible;
}
.rectangle-333 {
  width: 112px;
  height: 116px;
  position: absolute;
  left: 96px;
  top: 821px;
  object-fit: cover;
}
.rectangle-347 {
  width: 112px;
  height: 116px;
  position: absolute;
  left: 95px;
  top: 1272px;
  object-fit: cover;
}
.rectangle-354 {
  width: 112px;
  height: 116px;
  position: absolute;
  left: 93px;
  top: 1727px;
  object-fit: cover;
}
.nike-feel-every-step {
  color: #1b1a1a;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 15px;
  font-weight: 600;
  position: absolute;
  left: 86px;
  top: 959px;
  width: 243px;
  height: 16px;
}
.trova-find-your-next-hike {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  line-height: 121.98%;
  letter-spacing: 0.04em;
  font-weight: 700;
  position: absolute;
  left: 85px;
  top: 1414px;
  width: 243px;
  height: 16px;
}
.where-lasting-change-brgins {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  line-height: 121.98%;
  letter-spacing: 0.04em;
  font-weight: 700;
  position: absolute;
  left: 83px;
  top: 1869px;
  width: 243px;
  height: 16px;
}
.a-modern-high-conversion-moblie-storefront-concept-designed-to-streamline-product-discovery-and-enhance-visual-browsing-for-footwear-enthuasiasts {
  color: #1e1e1e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  line-height: 149%;
  font-weight: 400;
  position: absolute;
  left: 86px;
  top: 979px;
  width: 236px;
  height: 64px;
}
.trova-is-a-hiking-agency-built-for-people-who-wantto-go-further-small-groups-expert-local-guidesand-routes-most-people-never-find-on-their-own {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: 86px;
  top: 1434px;
  width: 236px;
  height: 72px;
}
.this-project-is-end-to-end-design-clone-of-modern-wellness-coaching-website-undertaken-to-study-effective-layout-strategy {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: 84px;
  top: 1889px;
  width: 236px;
  height: 72px;
}
.ellipse-64 {
  background: #c4c4c4;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 289px;
  top: 1131px;
}
.ellipse-66 {
  background: #c4c4c4;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 288px;
  top: 1586px;
}
.ellipse-67 {
  background: #c4c4c4;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 286px;
  top: 2041px;
}
.ellipse-65 {
  background: #c4c4c4;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 288px;
  top: 679px;
}
.div {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 152%;
  letter-spacing: 0.05em;
  font-weight: 500;
  position: absolute;
  left: 297px;
  top: 1135px;
}
.div2 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 152%;
  letter-spacing: 0.05em;
  font-weight: 500;
  position: absolute;
  left: 296px;
  top: 1590px;
}
.div3 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 152%;
  letter-spacing: 0.05em;
  font-weight: 500;
  position: absolute;
  left: 294px;
  top: 2045px;
}
.div4 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 152%;
  letter-spacing: 0.05em;
  font-weight: 500;
  position: absolute;
  left: 296px;
  top: 683px;
}
.image-62 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 198px;
  top: 2819px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image-38 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 165px;
  top: 2819px;
  object-fit: cover;
  aspect-ratio: 1;
}
.get-connected-to-me {
  color: #000000;
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 11px;
  letter-spacing: 0.13em;
  font-weight: 600;
  position: absolute;
  left: 134px;
  top: 2845px;
  width: 141px;
  height: 15px;
}
.image-61 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 231px;
  top: 2819px;
  object-fit: cover;
  aspect-ratio: 1;
}
._2026-sameer-all-rights-reserved {
  color: #503229;
  text-align: left;
  font-family: "PlusJakartaSans-SemiBold", sans-serif;
  font-size: 8px;
  line-height: 121%;
  letter-spacing: 0.02em;
  font-weight: 600;
  position: absolute;
  left: 132px;
  top: 2931px;
}
